* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --bg-color: #F3F5FC;
    --bg-color-less: #eceff7;
    --color-alura: #0A3871;
    --icon-color: rgb(21, 21, 21);
}

body {
    font-family: 'Inter';
    background-color: var(--bg-color);
    height: 100vh;
}


header {
    padding: 30px 30px 20px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}

header> :nth-child(2) {
    align-self: flex-end;
}

header img {
    width: 20px;
}

textarea {
    resize: none;
    overflow: hidden;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    padding: 20px;
    border-color: var(--color-alura);
}

.box {
    margin: auto;
    width: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main {
    border-radius: 25px;
    background-color: var(--color-alura);
    display: flex;
    width: fit-content;
    padding: 20px;
}

.box-content {
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    height: 600px;
    text-align: center;
}

.box-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--color-alura);
    color: var(--bg-color);
}

.box-left span:nth-child(4) {
    align-self: flex-end;
    margin-top: auto;
}

.box-left span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

.box-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    place-content: center;
    background-color: white;
    color: var(--color-alura);
    justify-content: right;
}

.box-right span {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.box-right img {
    width: 200px;
}

.box-right lottie-player {
    width: 200px;
    padding: 50px;
}

#msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.limpar-mobile,
.copiar-mobile {
    display: none;
}

#a {
    position: relative;
}

#b {
    position: relative;
}

#trash-copy-left,
#trash-copy-right {
    position: absolute;
    align-items: center;
    gap: 5px;
    padding: 5px;
    bottom: 7px;
    right: 7px;
    width: fit-content;
}

#trash-copy-left img,
#trash-copy-right img {
    width: 14px;
    height: 14px;
}

#trash-copy-left img,
#trash-copy-right img:hover {
    cursor: pointer;
}

.button {
    width: fit-content;
    padding: 10px 0px;
    width: 120px;
    border-radius: 10px;
    color: var(--color-alura);
    font-weight: bold;
    border: none;
    transition: 0.50s;
    background-color: var(--bg-color);
}

.button:hover {
    background-color: transparent;
    outline: 1px solid var(--bg-color);
    color: var(--bg-color);
    border: none;
    transition-delay: 0.1;
    cursor: pointer;
}

.button-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#credits {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    background-color: rgb(137, 238, 170);
    border-radius: 10px;
    color: black;
    margin: auto;
}

#credits-icons {
    display: flex;
    gap: 10px;
}

#credits-icons svg {
    width: 16px;
    height: 16px;
    transition: 0.6s;
}

#credits-icons svg:hover {
    --icon-color: rgb(97, 167, 127);
    cursor: pointer;
    transition: 0.3s;
    width: 17px;
    height: 17px;
}

#credits-icons svg:hover path {
    --icon-color: rgb(97, 167, 127);
    width: 17px;
    height: 17px;
    transition: 0.5s;
    cursor: pointer;
}

.icon-moldure {
    width: 20px;
    height: 20px;
}

@media (max-width: 800px) {

    textarea {
        width: 80vw;
        max-width: 450px;
    }

    .main {
        border-radius: 25px;
        background-color: var(--color-alura);
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: auto;
        padding: 0px;
        max-width: 800px;
    }

    .box {
        width: 500px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        place-content: center;
        gap: 0px;
    }

    .box-content {
        height: fit-content;
    }

    .box-left {
        padding: 0px;
    }

    .box-right {
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
    }

    .box-right img {
        width: 150px;

    }

    header {
        place-content: center;
        margin: auto;
        padding: 20px;
    }

    header img {
        width: 20px;
    }

    header #credits {
        display: none;
    }

    #trash-copy-left,
    #trash-copy-right {
        display: none;
    }

    .limpar-mobile,
    .copiar-mobile {
        display: block;
    }

    .button-mobile {
        display: flex;
        flex-direction: row;
        place-content: center;
        gap: 40px;
        margin-top: 30px;
    }
}