* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Inter';
    --bg-color: #F3F5FC;
    --bg-color-less: #eceff7;
    --color-alura: #0A3871;
    background-color: var(--bg-color);
    height: 100vh;
}

header {
    padding: 40px 0px 40px 40px;
}

header img {
    width: 20px;
}


textarea {
    resize: none;
    overflow: hidden;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    padding: 20px;
}

.button {
    width: fit-content;
    padding: 10px 0px;
    width: 150px;
    border-radius: 10px;
    color: var(--color-alura);
    font-weight: bold;
    border: none;
    transition: 0.50s;
    background-color: var(--bg-color);
}

.button:hover {
    background-color: transparent;
    outline: 1px solid var(--bg-color);
    color: var(--bg-color);
    border: none;
    transition-delay: 0.1;
    cursor: pointer;

}

.button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.box {
    margin: auto;
    width: 100vh;
}

.main {
    border-radius: 25px;
    background-color: var(--color-alura);
    display: flex;
    width: fit-content;
    padding: 20px;
}

.box-content {
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    height: 600px;
    text-align: center;
}

.box-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--color-alura);
    color: var(--bg-color);
}

.box-left span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

.box-left img {
    width: 15px;
}

.box-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    place-content: center;
    background-color: white;
    color: var(--color-alura);
}

.box-right span {
    padding: 10px;
}

.box-right img {
    width: 200px;
}

.box-right textarea {
    display: none;
}